.about {
    background-image: url("about-bg.png");
    background-position: right bottom;
    background-size: auto;
    background-repeat: no-repeat;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 50px 0 20px;
}