.button {
    cursor: pointer;
    user-select: none;
    transition-duration: 200ms;
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: var(--color-text);

    &:hover {
        color: var(--color-accent);
    }
}

.primary {
    padding: 8px 10px;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    color: var(--color-text);
    min-width: 150px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(160, 47, 129, 0.7);
    line-height: 1;
    font-weight: 500;

    &:hover {
        background-color: var(--color-primary-hovered);
        border-color: var(--color-primary-hovered);
        box-shadow: 0 0 15px var(--color-primary-hovered);
    }
}

.outline {
    padding: 5px 10px;
    background: none;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    color: var(--color-primary);
    min-width: 100px;
    font-size: 18px;

    &:hover {
        border-color: var(--color-primary-hovered);
        color: var(--color-primary-hovered);
    }
}