.app.dark {
    --color-bg: #472B83;
    --color-bg-inverted: #F9F9F9;
    --color-text: #F9F9F9;

    --color-primary: #A1285F;
    --color-primary-hovered: #d24184;

    --color-secondary: #9473DA;

    --color-accent: #FFBD59;
}