.app.dark {
    --color-bg: #472B83;
    --color-bg-inverted: #F9F9F9;
    --color-text: #F9F9F9;
    --transparent-wrapper: rgba(249, 249, 249, 0.1);

    --color-primary: #A02F81;
    --color-primary-hovered: #d24184;
    --color-primary-shadow: rgba(160, 47, 129, 0.7);

    --color-secondary: #9473DA;
    --color-secondary-hovered: #bca2f8;
    --color-secondary-shadow: rgba(71, 43, 131, 0.62);

    --color-accent: #FFBD59;
}