.app.light {
    --color-bg: #F9F9F9;
    --color-bg-inverted: #240D62;
    --color-text: #F9F9F9;

    --color-primary: #A02F81;
    --color-primary-hovered: #d24184;

    --color-secondary: #9473DA;
    --color-secondary-hovered: #bca2f8;

    --color-accent: #FFBD59;
}