.logo {
    font-family: Pacifico,cursive;
    font-weight: 400;
    font-size: 60px;
    text-shadow: 2px 2px 0 var(--color-secondary), 3px 3px 0 rgba(0,0,0,.2);
    color: var(--color-bg-inverted);
    text-decoration: none;
}