:root {
    --font-family-main: 'Sarabun', sans-serif;
    --font-family-accent: 'Pacifico', cursive;
    --font-family-monospace: 'Courier Prime', cursive;
    --font-size: 18px;
    --line-height: 1.4;


    --padding-wrap: 0 60px;
}