.link {
    color: var(--color-bg-inverted);
    text-decoration: none;
    font-size: 18px;
    transition: color 200ms;
    user-select: none;

    &--active {
        color: var(--color-secondary);
        cursor: default;
    }

    &:not(.link--active):hover {
        color: var(--color-accent);
    }
}